series:
  episodes:
    - Dragon Ball Super:
        from_group: DragonTeam
        begin: 1
  movies:
    - Code Geass Boukoku no Akito:
        alternate_name: Gekijouban Code Geass Boukoku no Akito
        begin: 4
