trakt:
  user: username
  pass: password
  api: api_key
  series: series
  watched: watched
  movies: watchlist
pushbullet:
  api: api_key
thetvdb:
  id: tvdb_id
folder:
  root: /mnt/
  series: /mnt/Series/
  anime: /mnt/Anime/
  movies: /mnt/Movies/
  downloads: /mnt/Downloads/
  downseries: /mnt/Downloads/Series/
  downanime: /mnt/Downloads/Anime/
  downmovies: /mnt/Downloads/Movies/
#
#
# Only missing secrets configuration in the main file for move options
#
# Secrets file does not work with third level entries nor stuff like {{secrets.folder.downloads-movies}}
