trakt:
  user: username
  pass: password
  api: api_key
  series: series
  collected: collected
  movies: watchlist
pushbullet:
  api: api_key
thetvdb:
  id: tvdb_id
folder:
  root: /mnt/
  series: /mnt/Series/
  anime: /mnt/Anime/
  movies: /mnt/Movies/
  downloads: /mnt/Downloads/
  downseries: /mnt/Downloads/Series/
  downanime: /mnt/Downloads/Anime/
  downmovies: /mnt/Downloads/Movies/
list:
  series: /var/tmp/trakt_series.txt
  animerename: /var/tmp/anime_rename.txt
script:
  animerenamer: ~/.flexget/anime_renamer.sh
#
#
# Only missing secrets configuration in the main file for move options, which is currently not working.
# See: http://discuss.flexget.com/t/move-plugin-secrets-jinja-bug/947/6
#
# Secrets file does not work with third level entries nor stuff like {{secrets.folder.downloads-movies}}
